<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
</head>
<body>

    <nav style="background:#eee;padding:10px;">
        <a href="{% url 'home' %}">HOME</a>
        |

        {% if user.is_authenticated %}
            <span>Welcome, {{ user.username }}!</span>
            |
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
            |
            <a href="{% url 'register' %}">Sign Up</a>
        {% endif %}
    </nav>

    <hr>

    {% block content %}
    {% endblock %}

</body>
</html>
