{% extends 'forum/base.html' %}

{% block content %}
<h1>{{ thread.title }}</h1>
<p>{{ thread.description }}</p>
<p>Autor: {{ thread.user.username }}</p>
<p>Actividad: {{ thread.activity }}</p>

<hr>

<h2>Comments</h2>

{% for c in comments %}
    <p>
        <strong>{{ c.user.username }}</strong>
        
        {% if c.user == thread.user %}
            <span style="color:red;font-weight:bold;">OP</span>
        {% endif %}
        : {{ c.description }}
    </p>
{% endfor %}

<hr>

<h3>Add comment</h3>

<form method="POST" action="{% url 'create_comment' thread.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Comment</button>
</form>
{% endblock %}